.login-body {
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/4452961.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-card {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 10px;
  border-radius: 20px;
  border-color: #faae36;
}
